/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

:root {
	/* colors */
	--light-color: rgba(245, 245, 245, 0.9);
	--text-color: rgba(97, 97, 97, 0.9);
	--dark-color: rgba(66, 66, 66);
	--footer-color: rgba(0, 0, 0, 0.9);
	--background-color: rgba(74, 74, 74);
	--container-color: rgba(31, 31, 31);
	--gradient-start: rgb(245, 98, 224);
	--gradient-end: rgb(45, 108, 255);
}

body {
	font-family: "Jua", sans-serif;
	background-color: var(--background-color);
}

.App {
	max-width: 725px;
	margin: 35px auto;
	padding: 0 20px;
}


