/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&family=Jost:wght@400;500;600;700&display=swap");

:root {
	/* fonts */
	--first-font-family: "DM Sans", sans-serif;
	--second-font-family: "Jost", sans-serif;

	/* colors */
	--light-color: rgba(245, 245, 245, 0.9);
	--text-color: rgba(97, 97, 97, 0.9);
	--dark-color: rgba(66, 66, 66);
	--footer-color: rgba(0, 0, 0, 0.9);
	--background-color: rgba(74, 74, 74);
	--container-color: rgba(31, 31, 31);
	--gradient-start: rgb(245, 98, 224);
	--gradient-end: rgb(45, 108, 255);
}

body {
	font-family: var(--first-font-family);
	background-color: var(--background-color);
}

.App {
	max-width: 725px;
	margin: 35px auto;
	padding: 0 20px;
}

.App .weather-container {
	background-color: var(--container-color);
	border-radius: 25px;
	padding: 20px 30px;
	margin-bottom: 5px;
}

/* footer */

.App footer {
	color: var(--footer-color);
	text-align: center;
	font-size: 8px;
	font-weight: 300;
}

.App .web-link {
	color: var(--footer-color);
	text-decoration: none;
}

.App .web-link:hover {
	color: var(--light-color);
}

.App .logo {
	display: block;
	margin: auto;
	margin-top: -10px;
	margin-bottom: -20px;
	height: 120px;
}

/* responsive */

@media (max-width: 420px) {
	.App .current-icon {
		height: 100px;
	}

	.App .logo {
		margin-top: -20px;
		height: 80px;
	}
}
