.WeatherInfo .cityName {
	color: var(--light-color);
	display: inline-block;
	text-transform: capitalize;
	font-size: 50px;
	letter-spacing: 0.15em;
}

.WeatherInfo .countryName {
	color: var(--dark-color);
	font-size: 30px;
	letter-spacing: 0.1em;
}

.FormattedDate {
	color: var(--text-color);
	font-size: 15px;
	line-height: 1;
	margin-bottom: 10px;
}

.WeatherInfo .weatherDescription {
	color: var(--light-color);
	text-transform: lowercase;
	font-size: 16px;
	line-height: 2;
}

.WeatherInfo .weatherDescription::first-letter {
	text-transform: capitalize;
}

.WeatherInfo .WeatherIcon img {
	display: block;
	margin: 0 auto;
}

/* temperature */

.WeatherTemperature {
	display: flex;
}

.WeatherTemperature-value {
	color: var(--light-color);
	font-size: 90px;
	line-height: 1.1;
	letter-spacing: 0.03em;
}
/* celsius & fahrenheit */

.WeatherTemperature-unit {
	color: var(--light-color);
	font-size: 25px;
	line-height: 1.7;
	text-decoration: none;
}

.WeatherTemperature a {
	color: var(--text-color);
	font-size: 25px;
	line-height: 1.7;
	text-decoration: none;
}

/* wind & humidity */

.WeatherInfo .dataIcon {
	display: block;
	margin: 0 auto;
}

.WeatherInfo .dataValue {
	color: var(--light-color);
	text-align: center;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.05em;
}

.WeatherInfo .dataDescription {
	color: var(--text-color);
	text-align: center;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.03em;
}

@media (max-width: 344px) {
	.WeatherInfo .cityName {
		margin-right: 0 !important;
	}
	.WeatherInfo .countryName {
		display: none;
	}
}

@media (max-width: 420px) {
	.WeatherInfo .row {
		justify-content: center;
	}
}

@media (max-width: 436px) {
	.WeatherInfo .row {
		justify-content: center;
	}

	.WeatherInfo {
		text-align: center;
	}

	.WeatherInfo .cityName {
		font-size: 35px;
		margin-top: 15px !important;
	}

	.WeatherInfo .countryName {
		font-size: 25px;
	}

	.FormattedDate {
		margin-bottom: 13px;
	}

	.WeatherInfo .WeatherIcon img {
		height: 70px;
	}

	.WeatherTemperature-value {
		font-size: 70px;
	}

	.WeatherTemperature-unit {
		font-size: 20px;
	}

	.WeatherTemperature a {
		font-size: 20px;
	}

	.WeatherInfo .weatherDescription {
		display: none;
	}
}

@media (max-width: 478px) {
	.WeatherInfo .weatherData {
		display: none;
	}
}
