:root {
	/* colors */
	--light-color: rgba(245, 245, 245, 0.9);
	--text-color: rgba(97, 97, 97, 0.9);
	--dark-color: rgba(66, 66, 66);
	--footer-color: rgba(0, 0, 0, 0.9);
	--background-color: rgba(40, 40, 40);
	--container-color: rgba(31, 31, 31);
	--gradient-start: rgb(245, 98, 224);
	--gradient-end: rgb(45, 108, 255);
}

.Weather .weatherContainer {
	background-color: var(--container-color);
	border-radius: 25px;
	padding: 20px 30px;
	margin-bottom: 5px;
}

.Weather input {
	background-color: var(--background-color);
	color: var(--light-color);
	font-size: 17px;
	border-radius: 30px;
	padding-left: 15px;
	border-style: none;
	width: 250px;
	height: 35px;
}

.Weather ::placeholder {
	color: rgba(245, 245, 245, 0.3);
}

.Weather button {
	background: linear-gradient(
		90deg,
		var(--gradient-start) 0%,
		var(--gradient-end) 100%
	);
	border-style: none;
	border-radius: 30px;
	margin-left: -40px;
	width: 35px;
	height: 25px;
}

.Weather .forecastText {
	color: var(--light-color);
	text-align: left;
	font-size: 20px;
	letter-spacing: 1.1px;
}

.Weather .loaderDots {
	opacity: 0.8;
}
