.Weather .weatherContainer {
	background-color: var(--container-color);
	border-radius: 25px;
	padding: 25px 30px;
}

.Weather input {
	background-color: var(--background-color);
	color: var(--light-color);
	font-size: 17px;
	border-style: none;
	border-radius: 30px;
	width: 250px;
	height: 35px;
	line-height: 1;
	padding-left: 15px;
}

.Weather ::placeholder {
	color: rgba(245, 245, 245, 0.3);
}

.Weather button {
	background: linear-gradient(
		90deg,
		var(--gradient-start) 0%,
		var(--gradient-end) 100%
	);
	border-style: none;
	border-radius: 30px;
	width: 50px;
	height: 35px;
	margin-left: 10px;
}

.Weather .buttonIcon {
	color: var(--light-color);
	width: 24px;
}

.Weather .forecastText {
	color: var(--light-color);
	font-size: 18px;
	letter-spacing: 0.05em;
}

.Weather footer {
	color: var(--footer-color);
	font-size: 10px;
	letter-spacing: 0.05em;
}

.Weather .webLink {
	color: var(--footer-color);
}

.Weather .webLink:hover {
	color: var(--light-color);
}

.Weather .logo {
	display: block;
	margin: auto;
	margin-top: -10px;
	margin-bottom: -20px;
	height: 110px;
	width: auto;
}

.Weather .loaderDots {
	opacity: 0.9;
	margin-top: 150px;
}

@media (max-width: 399px) {
	.Weather button {
		margin-top: 10px;
	}
}

@media (max-width: 420px) {
	.Weather .weatherContainer {
		padding: 20px;
	}

	.Weather input {
		min-width: 200px;
		height: 30px;
	}

	.Weather button {
		min-width: 45px;
		height: 30px;
	}

	.Weather .buttonIcon {
		width: 20px;
	}

	.Weather .logo {
		margin-top: 0px;
		margin-bottom: -15px;
		height: 80px;
	}

	.Weather footer {
		font-size: 10px;
	}
}

@media (max-width: 436px) {
	.Weather form {
		flex-wrap: wrap;
		justify-content: center;
	}

	.Weather .forecastText {
		font-size: 18px;
		text-align: center;
	}
}

@media (max-width: 719px) {
	.Weather .weatherContainer {
		padding-bottom: 10px;
	}
}
