.WeatherForecast .col {
	margin: 0;
}

.WeatherForecastDay-card {
	background: linear-gradient(
		180deg,
		var(--gradient-start) 0%,
		var(--gradient-end) 100%
	);
	width: 80px;
	height: 160px;
	border-style: none;
	border-radius: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.WeatherForecastDay-day {
	color: var(--light-color);
	text-align: center;
	font-size: 16px;
	margin-bottom: 15px;
}

.WeatherForecastDay-minTemperature,
.WeatherForecastDay-maxTemperature {
	color: var(--light-color);
	text-align: center;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.05em;
}

.WeatherForecastDay .WeatherIcon img {
	display: block;
	margin: 0 auto;
}

@media (max-width: 420px) {
	.WeatherForecastDay-card {
		width: 60px;
		height: 140px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.WeatherForecastDay-day {
		font-size: 15px;
		margin-bottom: 10px !important;
	}

	.WeatherForecastDay-minTemperature,
	.WeatherForecastDay-maxTemperature {
		font-size: 14px;
	}

	.WeatherForecastDay .WeatherIcon img {
		height: 35px;
	}
}

@media (max-width: 719px) {
	.WeatherForecast .col {
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
	}
}
