.Weather .weatherContainer {
	background-color: var(--container-color);
	border-radius: 25px;
	padding: 25px 30px;
}

.Weather input {
	background-color: var(--background-color);
	color: var(--light-color);
	font-size: 17px;
	border-radius: 30px;
	padding-left: 15px;
	border-style: none;
	width: 250px;
	height: 35px;
	line-height: 1;
}

.Weather ::placeholder {
	color: rgba(245, 245, 245, 0.3);
}

.Weather button {
	background: linear-gradient(
		90deg,
		var(--gradient-start) 0%,
		var(--gradient-end) 100%
	);
	border-style: none;
	border-radius: 30px;
	margin-left: -40px;
	width: 35px;
	height: 25px;
}

.Weather .forecastText {
	color: var(--light-color);
	font-size: 20px;
	letter-spacing: 0.05em;
}

.Weather .loaderDots {
	opacity: 0.9;
	margin-top: 150px;
}

.Weather footer {
	color: var(--footer-color);
	text-align: center;
	font-size: 10px;
	letter-spacing: 0.05em;
}

.Weather .webLink {
	color: var(--footer-color);
	text-decoration: none;
}

.Weather .webLink:hover {
	color: var(--light-color);
}

.Weather .logo {
	display: block;
	margin: auto;
	margin-top: -10px;
	margin-bottom: -20px;
	height: 120px;
}

@media (max-width: 420px) {
	.Weather .weatherContainer {
		padding: 20px 20px;
	}

	.Weather .forecastText {
		font-size: 16px;
	}

	.Weather .logo {
		margin-top: -5px;
		margin-bottom: -15px;
		height: 60px;
	}

	.Weather footer {
		font-size: 5px;
	}
}

@media (max-width: 719px) {
	.Weather .weatherContainer {
		padding-bottom: 10px;
	}
}
