.WeatherForecast .col {
	margin: 0;
}

.WeatherForecastDay-card {
	background: linear-gradient(
		180deg,
		var(--gradient-start) 0%,
		var(--gradient-end) 100%
	);
	width: 80px;
	height: 160px;
	border-style: none;
	border-radius: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.WeatherForecastDay-day {
	color: var(--light-color);
	text-align: center;
	font-size: 16px;
	line-height: 1;
}

.WeatherForecastDay-temperature {
	color: var(--light-color);
	text-align: center;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 0.05em;
}

@media (max-width: 719px) {
	.WeatherForecast .col {
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
	}
}
