:root {
	/* colors */
	--light-color: rgba(245, 245, 245, 0.9);
	--text-color: rgba(97, 97, 97, 0.9);
	--dark-color: rgba(66, 66, 66);
	--footer-color: rgba(0, 0, 0, 0.9);
	--background-color: rgba(40, 40, 40);
	--container-color: rgba(31, 31, 31);
	--gradient-start: rgb(245, 98, 224);
	--gradient-end: rgb(45, 108, 255);
}

.WeatherInfo .city-name {
	color: var(--light-color);
	display: inline-block;
	text-transform: capitalize;
	font-size: 45px;
	font-weight: 500;
	letter-spacing: 0.15em;
	margin-top: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.WeatherInfo .country-name {
	color: var(--dark-color);
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 1.1;
}

.FormattedDate {
	color: var(--text-color);
	font-size: 14px;
	line-height: 1;
	margin-bottom: 5px;
}

.WeatherIcon img {
	display: block;
	margin: 0 auto;
	padding: 0;
}

.WeatherInfo .weather-description {
	color: var(--light-color);
	text-transform: lowercase;
	font-size: 14px;
	line-height: 2;
}

.WeatherInfo .weather-description::first-letter {
	text-transform: capitalize;
}

/* temperature */

.WeatherTemperature {
	display: inline-flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.WeatherTemperature .value {
	color: var(--light-color);
	font-size: 80px;
	line-height: 1;
	letter-spacing: 0.03em;
	padding: 0;
}
/* celsius */

.WeatherTemperature .unit-c {
	color: var(--light-color);
	font-size: 22px;
	line-height: 1;
	text-decoration: none;
}

.WeatherTemperature .unit-f a {
	color: var(--text-color);
	font-size: 22px;
	line-height: 1;
	text-decoration: none;
}

.WeatherTemperature .unit-c a {
	color: var(--light-color);
	font-size: 22px;
	line-height: 1;
	text-decoration: none;
}

.WeatherTemperature .unit-f {
	color: var(--text-color);
	font-size: 22px;
	line-height: 1;
	text-decoration: none;
}

/* wind & rain */

.WeatherInfo .dataIcon {
	display: block;
	margin: 0 auto;
	font-size: 16px;
	margin-bottom: 12px;
}

.WeatherInfo .data-value {
	color: var(--light-color);
	text-align: center;
	font-size: 15px;
	/* font-weight: 400; */
	line-height: 1;
	/* letter-spacing: 0.02em; */
	margin-bottom: 12px;
}

.WeatherInfo .data-description {
	color: var(--text-color);
	text-align: center;
	font-size: 12px;
	font-weight: 300;
	/* letter-spacing: 0.02em; */
	margin-bottom: 5px;
	line-height: 1;
}
