.WeatherInfo .cityName {
	color: var(--light-color);
	display: inline-block;
	text-transform: capitalize;
	font-size: 50px;
	letter-spacing: 0.15em;
	margin-top: 15px;
	margin-right: 5px;
	margin-bottom: 2px;
}

.WeatherInfo .countryName {
	color: var(--dark-color);
	font-size: 30px;
	letter-spacing: 0.1em;
}

.FormattedDate {
	color: var(--text-color);
	font-size: 15px;
	line-height: 1;
	margin-bottom: 10px;
}

.WeatherInfo .weatherDescription {
	color: var(--light-color);
	text-transform: lowercase;
	font-size: 16px;
	line-height: 2;
}

.WeatherInfo .weatherDescription::first-letter {
	text-transform: capitalize;
}

.WeatherIcon img {
	display: block;
	margin: 0 auto;
	padding: 0;
}

/* temperature */

.WeatherTemperature {
	display: inline-flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.WeatherTemperature-value {
	color: var(--light-color);
	font-size: 90px;
	line-height: 1.1;
	letter-spacing: 0.03em;
}
/* celsius */

.WeatherTemperature-unit {
	color: var(--light-color);
	font-size: 25px;
	line-height: 1.7;
	text-decoration: none;
}

.WeatherTemperature a {
	color: var(--text-color);
	font-size: 25px;
	line-height: 1.7;
	text-decoration: none;
}

/* wind & humidity */

.WeatherInfo .dataIcon {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

.WeatherInfo .dataValue {
	color: var(--light-color);
	text-align: center;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.02em;
	margin-bottom: 10px;
}

.WeatherInfo .dataDescription {
	color: var(--text-color);
	text-align: center;
	font-size: 14px;
	letter-spacing: 0.02em;
	line-height: 1;
}
